name: Hello World to Dev and Staging

on:
  push:
    branches:
      - main

jobs:
  dev:
    runs-on: ubuntu-latest
    environment: 
      name: Dev
    steps:
      - name: Print hello world to dev
        run: echo "Hello, world!"

  staging:
    runs-on: ubuntu-latest
    needs: [dev]
    environment: 
      name: staging
    steps:
      - name: Print hello world to staging
        run: echo "Hello, world from staging!"

